# Compilação Java
*.class
*.war
*.ear
hs_err_pid*
crash-report-*

# Gradle
.gradle/
build/
out/

# IDEs
.idea/
*.ipr
*.iws
*.iml
.vscode/
.classpath
.project
.settings/
nbproject/private/

# Arquivos temporários
*.tmp
*.bak
*.swp
*~
Thumbs.db
.DS_Store

# Testes
/tests/out